
<section id="cd-intro">
	<div id="cd-intro-background"></div>
	<div id="cd-intro-tagline">
		<h1>Admission Time</h1>	
	</div> <!-- #cd-intro -->
</section><!-- #cd-intro -->
<main class="cd-content">
 
  
</br>  
<!--<a href="#" id="scroll" style="display: none;">-->
<div class="ui four statistics">
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Institutes
    </div>
  </div>
  <div class="statistic">
    <div class="text value">
      Three<br>
      Thousand
    </div>
    <div class="label">
      Signups
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="plane icon"></i> 5
    </div>
    <div class="label">
      Flights-Dec 17
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= image_tag("joe.jpg", class: "ui circular inline image") %> 
      42
    </div>
    <div class="label">
      Students Joined
    </div>
  </div>
</div>
<!-- Grid deviders with columns -->
<h2 class="ui header">
  <center>
  <%= image_tag("school.png", class: "ui image") %>
  <div class="content">
   <h2 style="color: #4286f4"> Why should I choose Admission Time for MBBS in Abroad? </h2>
    </center>
  </div>
</h2>
<div class="ui four column divided grid">
  <div class="row">
    <div class="column">
      <h3 class="ui header">
  <%= image_tag("low_tuition.png", class: "ui circular image") %>
  Low Tution Fees
  </h3>Studying MBBS in abroad is way cheaper than studying in MBBS India with the fees being as low as ₹10 lakh for entire MBBS course. The college fees will be paid in yearly instalments. Therefore, you don’t have to pay the entire fees at once.
    </div>
    <div class="column">
      <h3 class="ui header">
        <%= image_tag("approved_universities.png", class: "ui circular image") %>
        MCI and WHO approved
        </h3>
        All Medical Universities are MCI and WHO approved and also approved by their respective national regulator of education, the student will be eligible to practice in India or any other country subject to fulfilment of the eligibility criteria.
    </div>
    <div class="column">
          <h3 class="ui header">
    <%= image_tag("trans.png", class: "ui circular image") %>
    No Entrance Test
    </h3>
      There is no exam/test for getting admission for doing MBBS in Philippines, Russia, Bangladesh, Ukraine and China. You only need to meet the eligibility criteria for getting admission for doing MBBS in Abroad.
    </div>
    <div class="column">
    <h3 class="ui header">
    <%= image_tag("global.png", class: "ui circular image") %>
    Global Job Opportunities</h3>
MBBS in abroad open the doors of the world for you. You can practice anywhere in the world after completing your MBBS degree and complying with the eligibility criteria of the country of your choice where you wish to practice.
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3 class="ui header">
  <%= image_tag("top_ranked.png", class: "ui circular image") %>
 Top Ranked Universities</h3>
    Admission Time will help you get admission in the top most Universities for studying MBBS in Philippines, Ukraine, Russia, Bangladesh, and China.
    </div>
    <div class="column">
       <h3 class="ui header">
  <%= image_tag("books.png", class: "ui circular image") %>
    Instruction Medium is English </h3>
    The medium communication will be English for MBBS in Philippines, Bangladesh, Russia, Ukraine and China. Teachers/lecturers will be adept in the language so as to facilitate learning. Students need not learn the local language for classroom learning.
    </div>
    <div class="column">
       <h3 class="ui header">
  <%= image_tag("safe.png", class: "ui circular image") %>
    Safety and Security</h3>
    There is political, economic and personal safety in Russia, Bangladesh, Ukraine, Philippines and China. The students will be safe and secure. There is no discrimination in these countries and students live safely in their hostel or other accommodations.
    </div>
    <div class="column">
       <h3 class="ui header">
  <%= image_tag("visa3.jpg", class: "ui circular image") %>
    Immigration Assistance</h3>
    Admission Time provides full immigration help to the students. Starting with application for visa, Getting document attested from foreign ministry and Afid Avid. Mentoring for visa interview. Getting air tickets, deportation help. Books and stationary material from India. 
    </div>
  </div>
</div>
<!-- End Grid dividers 
<div id="breaking-news-container">
  <div id="breaking-news-colour" class="slideup animated">
    
  </div>  
   <span class="breaking-news-title delay-animated slidein">
      // BREAKING //
    </span> 
    <a class="breaking-news-headline delay-animated2 fadein marquee">
      RUSSIA - New Batch Admission Started !
    </a>  
</div>  -->
<!--<div style="background-color: #edd902; top: 0px; overflow: hidden;">
  Set up a counselling session with AdmissionTime- MBBS in Abroad
  Want to study MBBS in abroad but have many questions on your mind? Fix a meeting with Global Medical Foundation and have all your questions answered! And the best thing, its free of cost!
</div>
 Place somewhere in the <body> of your page -->

	</div></br>
  <div id="slider"> <%= image_tag("main-pg.jpg") %></div>
<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <h1 class="flex-title"><strong>POPULAR COUNTRIES TO STUDY ABROAD</strong> </h1>
      <marquee behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
       
        <figure class="item">
          <%= image_tag("malaysia.png", alt: "Malaysia", class: "floatingleft")%>
        <figcaption class="caption">Malaysia</figcaption>
        </figure>  
        
       
        <figure class="item">
          <%= image_tag("russia.png", alt: "Russia", class: "floatingleft") %>
        <figcaption class="caption">Russia</figcaption>
        </figure>  
       
        <figure class="item">
          <%= image_tag("china.png", alt: "China", class: "floatingleft") %>
         <figcaption class="caption">China</figcaption>
        </figure> 
      
        <figure class="item">
          <%= image_tag("georgia.png", alt: "Georgia", class: "floatingleft") %>
         <figcaption class="caption">Georgia</figcaption>
        </figure> 

        <figure class="item">
          <%= image_tag("kazakhstan.png", alt: "Kazakhstan", class: "floatingleft") %>
         <figcaption class="caption">Kazakhstan</figcaption>
        </figure> 

        <figure class="item">
          <%= image_tag("kyrgyzstan.png", alt: "Kyrgyzstan", class: "floatingleft") %>
         <figcaption class="caption">Kyrgyzstan</figcaption>
        </figure>  
      
        <figure class="item">
          <%= image_tag("bangladesh.png", alt: "Bangladesh", class: "floatingleft") %>
         <figcaption class="caption">Bangladesh</figcaption>
        </figure> 
     </marquee>
  </a>
</div>
  <div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box flex-box-big">
    <h1 class="flex-title">TOP COURSES ASPIRANTS ARE PURSUING</h1>
        
        <figure class="item">
          
          <%= image_tag("medical.png", height:"170", width: "145", alt: "Medical", class: "floatingleft")%>
          
          <figcaption class="caption">Medical</figcaption>
        </figure>
        <figure class="item">
          <%= image_tag("management.png", height:"128", width: "128", alt: "Management", class: "floatingleft")%>
          <figcaption class="caption">Management</figcaption>
        </figure>
        <figure class="item">
          <%= image_tag("engineering.png", height:"128", width: "128", alt: "Engineering", class: "floatingleft")%>
          <figcaption class="caption">Engineering</figcaption>
        </figure>
        <figure class="item">
          <%= image_tag("architecture.png", height:"128", width: "128", alt: "Architecture", class: "floatingleft")%>
          <figcaption class="caption">Architecture</figcaption>
        </figure> 
  </a>
  </div>
  <div class="ui container">
    <div class="cd-testimonials-wrapper cd-container">
    <ul class="cd-testimonials">
    <li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="cd-author">
        <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
        <ul class="cd-author-info">
          <li>MyName</li>
          <li>CEO, AmberCreative</li>
        </ul>
      </div>
    </li>

    <li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.</p>
      <div class="cd-author">
        <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
        <ul class="cd-author-info">
          <li>MyName</li>
          <li>Designer, CodyHouse</li>
        </ul>
      </div>
    </li>

    <li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
      <div class="cd-author">
        <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
        <ul class="cd-author-info">
          <li>MyName</li>
          <li>CEO, CompanyName</li>
        </ul>
      </div>
    </li>
    
  </ul> <!-- cd-testimonials -->

  <a href="#0" class="cd-see-all">See all</a>
</div> <!-- cd-testimonials-wrapper -->

<div class="cd-testimonials-all">
  <div class="cd-testimonials-all-wrapper">
    <ul>
      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum nisi, doloremque error hic nam nemo doloribus porro impedit perferendis. Tempora, distinctio hic suscipit. At ullam eaque atque recusandae modi fugiat voluptatem laborum laboriosam rerum, consequatur reprehenderit omnis, enim pariatur nam, quidem, quas vel reiciendis aspernatur consequuntur. Commodi quasi enim, nisi alias fugit architecto, doloremque, eligendi quam autem exercitationem consectetur.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam eveniet, molestiae laborum voluptatibus minima hic quasi accusamus ut facere, eius expedita, voluptatem? Repellat incidunt veniam quaerat, qui laboriosam dicta. Quidem ducimus laudantium dolorum enim qui at ipsum, a error.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptates officiis tempore quae officia! Beatae quia deleniti cum corporis eos perferendis libero reiciendis nemo iusto accusamus, debitis tempora voluptas praesentium repudiandae laboriosam excepturi laborum, nisi optio repellat explicabo, incidunt ex numquam. Ullam perferendis officiis harum doloribus quae corrupti minima quia, aliquam nostrum expedita pariatur maxime repellat, voluptas sunt unde, inventore.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia quas, quis illo adipisci voluptate ex harum iste commodi nulla dolor. Eius ratione quod ab!</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dignissimos iure rem fugiat consequuntur officiis.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto sapiente, excepturi velit, beatae possimus est tenetur cumque fugit tempore dolore fugiat! Recusandae, vel suscipit? Perspiciatis non similique sint suscipit officia illo, accusamus dolorum, voluptate vitae quia ea amet optio magni voluptatem nemo, natus nihil.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi officiis pariatur, fugit minus omnis animi ut assumenda quod commodi, ad a alias maxime unde suscipit magnam, voluptas laboriosam ipsam quibusdam quidem, dolorem deleniti id.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>

      <li class="cd-testimonials-item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tempore ipsam, eos suscipit nostrum molestias reprehenderit, rerum amet cum similique a, ipsum soluta delectus explicabo nihil repellat incidunt! Minima magni possimus mollitia deserunt facere, tempore earum modi, ea ipsa dicta temporibus suscipit quidem ut quibusdam vero voluptatibus nostrum excepturi explicabo nulla harum, molestiae alias. Ab, quidem rem fugit delectus quod.</p>
        
        <div class="cd-author">
          <%= image_tag("avatar-5.jpg", alt: "Georgia") %>
          <ul class="cd-author-info">
            <li>MyName</li>
            <li>CEO, CompanyName</li>
          </ul>
        </div> <!-- cd-author -->
      </li>
    </ul>
  </div>
  <%= video_tag(["moscow.mp4"], :size => "320x240", :autoplay => true, :loop => true) %>
</div>
</main><!-- cd-content -->
<main class="cd-content">
 <%= render 'layouts/footer' %>
 </main><!-- cd-content -->