<!DOCTYPE html>
</br>
</br>
<div class="ui grid">
	<div class="sixteen wide column">
		<%= image_tag("study-mbbs-in-russia.jpg")%>
	</div>
</div>
<div class="ui breadcrumb">
  <%= link_to "Home", index_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "Courses Overview", course_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "MBBS Abroad", medical_overview_path, class: "section" %>
  <i class="right arrow icon divider"></i>
  <div class="active section">MBBS in Russia</div>
</div>
<div class="ui segment">
<div class="ui sizer vertical segment">
  <div class="ui huge header">MBBS in Russia from Top Medical Universities</div>
  <p class="russia"><%= image_tag("MBBS_study_Russia.jpg", class: 'country-img', style: 'float: left; width: 30%; height: 30%;')%>
  	Russia has been popular destination for International students for pursuing MBBS right from Soviet Era. Russia boasts about occupying almost 30 positions amongst top 100 ranking Medical Universities according to the World Health Organization (WHO)'s "Directory of World Medical Schools". Pass-outs from Russian Medical Universities are presently working in the leading Hospitals across the globe. MBBS in Russia is a preferred choice for International students because of highly subsidized fee by Russian Ministry of Health and Education as compared to other western countries. High Quality of Education combined with this low cost is one of the main reasons for choosing top medical universities of Russia for MBBS. There are almost 57 medical universities in Russia. The student to teacher ratio is 7:1 in all Russian Medical Universities. About 12 of these universities provide MBBS in English Medium.</p>
  	<p class="russia">In the past decade there has been a tenfold increase in number of international students travelling for MBBS in Russia. All universities are recognized by WHO and Medical Council of leading countries like U.S.A, U.K, middle east, Australia, India, Canada etc.</p>
  	<p class="russia">
  		Duration of MBBS in Russia in English Medium is 6years. Students can also opt for MBBS in Russian Medium. Duration of which is 7 years which includes 1 year as Russian Language Training (Preparatory Faculty)
  	</p>
  </br>
  <div class="ui large header">About Russia</div>
  <p class="russia">Russia is a country and it is situated in Asia and Eastern Europe. Russia is the largest country of the world by land area and it is also known as Russia Federation. Moscow is the capital of Russia and Russian Federation is the official name of Russia. Moscow, the capital of the Russia, is the largest city is the world. Population of Russia is about 146.6 million. Russian government is based on a democratic form of rule. The Russian Federation shares land border with Finland, Lithuania and Poland (both with Kaliningrad Oblast), Belarus, Latvia, Ukraine, Georgia, Azerbaijan, Kazakhstan, China, Norway Estonia, Mongolia, and North Korea.</p>
  <div class="ui large header">Why MBBS Study in Russia?</div>
  <p class="russia">Medical Study in Russia is very easy for a normal student because any student from all over the globe can take direct MBBS Admission without any entrance exam. MBBS fee in Russia is very low because the Russian Government provides subsidy for education. Average MBBS fee in Russia is between 2.5 Lacks to 5 Lacks per year. All Russian Medical Universities are listed in WHO and MCI so a student who gets an MBBS degree from Russia can practice anywhere in the world including India. Students from all over the globe go to Russia for MBBS Study and all medical universities provide quality medical education and practical knowledge. Students get fully furnished hostel facility inside the university campus with fresh and quality food. MBBS Students can get scholarship also if they fulfill the scholarship criteria. All MBBS students in Russia get Medical Insurance for all courses and get full medical treatment when they need. Students get training for MCI screening test during the medical course and professors are well aware about the MCI screening test. Medical courses are taught in English and Russian languages, MBBS students also get training to learn Russian Language because by learning Russian language a student can communicate with patients in the hospital during the time of medical practice.</p></div>
  <div class="ui segment">
  <div class="ui large header">Benefits Of MBBS In Russia For Indian Students 2018</div>
  <ul class="russia">
  	<li><i class="radio icon"></i>No Entrance exam and No Donation.</li>
  	<li><i class="radio icon"></i>Easy Admission Procedure</li>
  	<li><i class="radio icon"></i>Low and Subsidized course fees.</li>
  	<li><i class="radio icon"></i>Worldwide Recognition of the Degrees provided by Medical Universities of Russia.</li>
  	<li><i class="radio icon"></i>European Standard of Living.</li>
  	<li><i class="radio icon"></i>Degrees Recognized Worldwide.</li>
  	<li><i class="radio icon"></i>Indian Canteen is Available in most of the Universities.</li>
  	<li><i class="radio icon"></i>Excellent Result in MCI Screening Test (Only Rus Education provides MCI Coaching in Russian Medical Universities)</li>
  	<li><i class="radio icon"></i>Reference Available of Students working in Leading Hospitals Across the World (our pass outs are working not only in India but in Australia, Canada, USA, UK and other major countries across the globe)</li>
  	<li><i class="radio icon"></i>100% Visa Guarantee.</li>
  	<li><i class="radio icon"></i>All the universities are Government Universities of Russia.</li>
  </ul>
  <div class="ui large header">Eligibility Criteria For MBBS In Russia</div>
  <ul class="russia">
  	<li><i class="radio icon"></i>The student shall complete the age of 17 years on or before 31st December of the year of admission.</li>
  	<li><i class="radio icon"></i>The student should have obtained 50% marks in the 12th standard examination. Students belonging SC/ST and OBC category are eligible having 40% marks in aggregate in the 12th standard examination.</li>
  </ul>
</div></div>
<div class="ui segment">
<div class="ui large header">Top Universities for MBBS Study in Russia</div>
<ul class="russia">
	<li><i class="check square icon"></i>I. M. Sechenov First Moscow State Medical University</li>
	<li><i class="check square icon"></i>Tver State Medical University</li>
	<li><i class="check square icon"></i>Orenburg State Medical University</li>
	<li><i class="check square icon"></i>Bashkir State Medical University</li>
	<li><i class="check square icon"></i>Smolensk State Medical University</li>
	<li><i class="check square icon"></i>Peoples' Friendship University of Russia</li>
	<li><i class="check square icon"></i>Kursk state medical University</li>
	<li><i class="check square icon"></i>Kazan state medical university</li>
	<li><i class="check square icon"></i>Ryazan State Medical University</li>
	<li><i class="check square icon"></i>Crimea Federal University</li>
	<li><i class="check square icon"></i>Northern State Medical University</li>
	<li><i class="check square icon"></i>Pavlov First Saint Petersburg State Medical University</li>
	<li><i class="check square icon"></i>Volgograd State University</li>
	<li><i class="check square icon"></i>Perm State Medical University</li>
	<li><i class="check square icon"></i>OMSK State Medical University</li>
	<li><i class="check square icon"></i>Syktyvkar State University</li>
	<li><i class="check square icon"></i>Mari State University</li>
	<li><i class="check square icon"></i>Altai State Medical University</li>
	<li><i class="check square icon"></i>Dagestan State Medical University</li>
	<li><i class="check square icon"></i>Siberian State Medical University</li>
	<li><i class="check square icon"></i>Far Eastern Federal University</li>
	<li><i class="check square icon"></i>Lomonosov Moscow State University</li>
	<li><i class="check square icon"></i>Southern Federal University</li>
	<li><i class="check square icon"></i>Kazan Federal University</li>
	<li><i class="check square icon"></i>Pirogov Russian National Research Medical University (RNRMU)</li>

</ul>
<div class="ui large header">Requirements For MBBS Admission In Russia 2018-2019</div>
<ul class="russia">
	<li><i class="check square icon"></i>10th and 12th class mark sheets</li>
	<li><i class="check square icon"></i>2 Photos</li>
	<li><i class="check square icon"></i>Strong will to become a doctor</li>
	<li><i class="check square icon"></i>Passport</li>
</ul>
<div class="ui large header">MBBS In Russia Fees 2017-2018</div>
<p class="russia">
	Russia has a good reputation in the field of Medical Education and Russian Medical Universities make it possible by providing quality medical education. MBBS fee in Russia is very low comparing to Indian Medical Universities and private colleges. Any student from India can take direct MBBS Admission in top Medical Universities of Russia. All Russia Medical Universities are recognized from WHO and MCI. Here is the MBBS fee structure of top Medical Universities of Russia
</p></div>
<div class="ui large header">MBBS Fee of I.M. Sechenov First Moscow State Medical University, Russia</div>
<div class="ui compact segment">
<table class="ui red table">
  <thead>
    <tr><th>Tuition Fee</th>
    <th>Total Fee 1st Year</th>
    <th>(2nd to 6th) Per Year</th>
    <th>Total Course fee</th>
  </tr></thead><tbody>
    <tr>
      <td>10000 USD </br>
650000 INR</td>
<td>10000 USD </br>
650000 INR</td>
 <td>10000 USD </br>
650000 INR</td>
 <td>60000 USD </br>
3900000 INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">MBBS Fee of Tver State Medical University, Russia</div>
<table class="ui orange table">
  <thead>
    <tr><th>Fee Pattern</th>
    <th>Total Fee
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
<th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>One Time Package</td>
      <td></td>
      <td></td>
      <td>19 Lakh INR (Full course)</td>
    </tr>
    <tr>
      <td>Semi-Packagee</td>
      <td>14,00,000 INR</td>
      <td>1,50,000 INR</td>
      <td>21.50 Lakh INR</td>
    </tr>
     <tr>
      <td>Per Year</td>
      <td>455000 INR </br>
(7000 USD)</td>
      <td>455000 INR </br>
(7000 USD)</td>
      <td>27.30 Lakh INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">MBBS Fee of Orenburg State Medical University, Russia</div>
<table class="ui yellow table">
  <thead>
    <tr><th>Fee Pattern</th>
    <th>Total Fee 
1st Year</th>
<th>Total Fee </br>
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>One Time Package</td>
      <td></td>
      <td></td>
       <td>15 Lac INR (Full course)</td>
    </tr>
    <tr>
      <td>Semi-Package</td>
      <td>10,00,000 INR</td>
      <td>1,50,000 INR</td>
       <td>17.50 Lac INR</td>
    </tr>
    tr>
      <td>Per Year</td>
      <td>390000 INR </br>
(6000 USD)</td>
      <td>390000 INR </br>
(6000 USD)</td>
       <td>23.40 Lac INR</td>
    </tr>
  </tbody>
  </table>
  <div class="ui large header">Smolensk State Medical University, Russia</div>
<table class="ui olive table">
  <thead>
    <tr><th>Fee Pattern</th>
    <th>Total Fee 
1st Year</th>
    <th>Total Fee </br>
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Package</td>
      <td>1139750 INR</td>
      <td>181750 INR</td>
      <td>2048500 INR</td>
    </tr>
    <tr>
      <td>Semi-Package</td>
      <td>10,00,000 INR</td>
      <td>1,20,000 INR</td>
      <td>16 Lakh INR</td>
    </tr>
     <tr>
      <td>Per Year</td>
      <td>357500 INR 
(5500 USD)</td>
      <td>357500 INR </br>
(5500 USD)</td>
      <td>21.45 Lakh INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Bashkir State Medical University, Russia</div>
<table class="ui green table">
  <thead>
    <tr><th>Fee Pattern</th>
    <th>Total Fee </br>
1st Year</th>
    <th>Total Fee </br>
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
       <td>357500 INR </br>
5500 USD)</td>
      <td>185000 INR </br>
Rub</td>
      <td>12.57 Lac INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">People's Friendship University, Russia</div>
<table class="ui teal table">
  <thead>
    <tr><th>Tuition Fee</th>
    	<th>Total Fee 1st Year</th>
    <th>(2nd to 6th) Per Year</th>
    <th>Total Course Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year	</td>
      <td>9050 USD (588250 INR approx)</td>
      <td>9050 USD (588250 INR approx)</td>
      <td>54300 USD (3529500 INR approx)</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Kursk State Medical University, Russia</div>
<table class="ui blue table">
  <thead>
    <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>425750 INR </br>
(6550 USD)</td>
      <td>425750 INR </br>
(6550 USD)</td>
      <td>25.54 Lakh INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Kazan State Medical University, Russia</div>
<table class="ui violet table">
  <thead>
   <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>406250 INR </br>
(6250 USD)</td>
      <td>406250 INR </br>
(6250 USD)</td>
      <td>24.37 Lakh INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Ryazan State Medical University, Russia</div>
<table class="ui purple table">
  <thead>
    <tr><th>Tuition Fee</th>
    <th>1st Year</th>
    <th>2nd-6th Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>5500 USD (357500 INR)</td>
      <td>4000 $ x 5= 20000 USD (260000 x 5= 1300000 INR)</td>
      <th>25500 USD (1657500 INR)</th>
    </tr>
    <tr>
      <td>Subsidized Fee Package</td>
      <td>6 Lac INR</td>
      <td>1.2 Lac INR x 5= 6 Lac INR</td>
      <th>12 Lac INR</th>
    </tr>
  </tbody>
</table>
<div class="ui large header">Crimea Federal University, Russia</div>
<table class="ui pink table">
  <thead>
   <tr><th>Tuition Fee</th>
    <th>1st Year</th>
    <th>2nd-6th Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>6500 USD</td>
      <td>3700 USD</td>
      <td>25000 USD</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Northern State Medical University, Russia</div>
<table class="ui grey table">
  <thead>
    <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>282750 INR </br>
(4350 USD)</td>
      <td>282750 INR </br>
(4350 USD)</td>
      <td>16.96 Lakh INR
</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Pavlov First Saint Petersburg State Medical University, Russia</div>
<table class="ui black table">
  <thead>
   <tr><th>Tuition Fee</th>
    <th>1st Year</th>
    <th>2nd-6th Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>10000 USD (650000 INR approx)</td>
      <td>10000 $ x 5= 50000 USD (650000 x 5 =3250000 INR approx)</td>
      <td>60000 USD (3900000 INR approx)</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Volgograd State Medical University, Russia</div>
<table class="ui black table">
  <thead>
     <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>365950 INR </br>
(5630 USD)</td>
      <td>365950 INR </br>
(5630 USD)</td>
      <td>21.95 Lakh INR</td>
    </tr>
   
  </tbody>
</table>
<div class="ui large header">Perm State Medical University, Russia</div>
<table class="ui black table">
  <thead>
    <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>One Time Package</td>
       <td></td>
      <td></td>
      <td>12 Lakh INR (Full course)</td>
    </tr>
    <tr>
      <td>Semi-Package</td>
      <td>9,00,000 INR</td>
      <td>1,00,000 INR</td>
       <td>14 Lakh INR</td>
    </tr>
    <tr>
      <td>Per Year</td>
      <td>273000 INR </br>
(4200 USD)</td>
      <td>273000 INR </br>
(4200 USD)</td>
       <td>16.38 Lakh INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">OMSK State Medical University, Russia</div>
<table class="ui black table">
  <thead>
    <tr><th>Tuition Fee</th>
    <th>1st Year</th>
    <th>2nd-6th Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Subsidized Fee Package</td>
      <td>4 Lac INR</td>
      <td>1 Lac INR x 5= 5 Lac INR</td>
      <td>9 Lac INR</td>
    </tr>
   
  </tbody>
</table>
<div class="ui large header">Syktyvkar State University, Russia</div>
<table class="ui black table">
  <thead>
    <tr><th>Tuition Fee</th>
    <th>1st Year</th>
    <th>2nd-6th Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>5000 USD (325000 INR approx)</td>
      <td>3000 $ x 5= 15000 USD (195000 x 5= 975000 INR approx)</td>
      <td>20000 USD(1300000 INR approx)</td>
    </tr>
    <tr>
      <td>Subsidized Fee Package</td>
      <td>900000 INR</td>
      <td></td>
      <td>900000 INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Mari State University, Russia</div>
<table class="ui red table">
  <thead>
   <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>One Time Package</td>
      <td></td>
      <td></td>
      <td>10 Lac INR (Full course)</td>
    </tr>
    <tr>
      <td>Per Year</td>
      <td>4500 USD</td>
      <td>3000 USD</td>
      <td>12.67 Lac INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Dagestan State Medical University, Russia</div>
<table class="ui orange table">
  <thead>
   <tr><th>Tuition Fee</th>
    <th>1st Year</th>
    <th>2nd-6th Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>5000 USD (325000 INR approx)</td>
      <td>3000 $ x 5= 15000 USD (195000 x 5= 975000 INR approx)</td>
      <td>20000 USD (1300000 INR approx)</td>
    </tr>
    <tr>
      <td>Subsidized Fee Package</td>
      <td>900000 INR</td>
      <td>20000 x 5 = 100000 INR</td>
      <td>1000000 INR</td>
    </tr>
  </tbody>
</table>
<div class="ui large header">Far Eastern Federal University</div>
<table class="ui yellow table">
  <thead>
    <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Grand Total</th>
  </tr></thead><tbody>
    <tr>
      <td>Per Year</td>
      <td>260000 INR </br>
(4000 USD)</td>
      <td>260000 INR </br>
(4000 USD)</td>
      <td>15.60 Lakh INR</td>
    </tr>
  </tbody>
  </table>
  <div class="ui large header">Pirogov Russian National Research Medical University (RNRMU)</div>
<table class="ui olive table">
  <thead>
   <tr><th>Fee Pattern</th>
    	<th>Total Fee 
1st Year</th>
    <th>Total Fee 
2nd-6th Per Year</th>
    <th>Total Fee</th>
  </tr></thead><tbody>
    <tr>
      <td>Tuition Fee</td>
      <td>7700 USD</td>
      <td>7700 USD</td>
      <td>46200 USD</td>
    </tr>
    <tr>
      <td>Hostel Fee</td>
      <td>1000 USD</td>
      <td>300 USD</td>
      <td>2500 USD</td>
    </tr>
     <tr>
      <td>Grand Total</td>
      <td></td>
      <td></td>
      <td>48700 USD</td>
    </tr>
  </tbody>
</table>
</div>
 <%= render 'layouts/footer' %>