<!DOCTYPE html>
</br>
</br>
<div class="ui grid">
	<div class="sixteen wide column">
		<%= image_tag("mbbs-in-ukraine (1).jpg")%>
	</div>
</div>
<div class="ui breadcrumb">
  <%= link_to "Home", index_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "Courses Overview", course_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "MBBS Abroad", medical_overview_path, class: "section" %>
  <i class="right arrow icon divider"></i>
  <div class="active section">MBBS in Ukraine</div>
</div>
<div class="ui segment">
<div class="ui sizer vertical segment">
  <div class="ui huge header">About Ukraine</div>
  <p class="russia"><%= image_tag("ukraine1.jpg", class: 'country-img', style: 'float: right; width: 30%; height: 30%;')%>
  	Ukraine is a country in Eastern Europe. The country is located at the northwest end of the Black Sea sharing its borders with Russia to the east, Belarus to the north, Poland to the northwest, Slovakia and Hungary to the west, and Romania to the south west and south, with Moldova in between. Ukraine is the second-largest country in Europe. At present, Ukraine is ranked at the fourth position in Europe for having the largest number of post graduates in fields of medicine. Ukraine has a number of Top Government Medical Universities offering MBBS, MD and other degrees in medicine to the local students as well as international students. All the medical universities in Ukraine are accredited by the world’s major organizations like WHO and UNESCO.
  	<div class="ui large header">MBBS in Ukraine</div>
  Nowadays, Ukraine is gaining a lot of popularity among international students who want to pursue their MBBS from abroad. Ukraine comprises many of world class Government Medical Universities that offer MBBS, MD and other degrees in medicine at a very affordable price. The students who complete their MBBS or any other medical degree from a medical university of Ukraine are eligible to apply for job in any part of the world.</br>
  The complete duration of an MBBS program in Ukraine is 5.8 years. The students are not required to pass any entrance examination to get admission in a medical university in Ukraine. Thus Ukraine has made it very easy for the aspiring student to fulfil their dreams of becoming successful doctors. The most popular medical fields of MBBS in the medical universities of Ukraine are listed below:</br>
<ul>
	<li><i class="radio icon"></i>General medicine</li></br>
	<li><i class="radio icon"></i>Pediatrics</li></br>
	<li><i class="radio icon"></i>Pharmacy</li></br>
	<li><i class="radio icon"></i>Dentistry</li></br>
	<li><i class="radio icon"></i>Surgery</li>
</ul>
</p>
  </div>
</div>
<div class="ui compact segment">
<div class="ui large header">Why Study MBBS in Ukraine?</div>
<p class="russia">Ukraine Government is very keen on the improvement and development of medical education in the country. The medical universities get constant help from the Ukraine government for maintaining the standard of education. The students who graduate from a Ukraine Medical University can work in any part of the world. Here are some of the factors that attract the foreign students to get their MBBS degree from Ukraine:
	<%= image_tag("mbbs in ukraine.jpg", style: 'float: right; width: 40%; height: 40%;' )%></p></br>
<ol class="russia" type="A">
	<li>1. The quality of education and infrastructure in Ukraine medical colleges is very good.</li>
	<li>2. The government is always there to help the universities in resolving research and financial issues in education.</li>
	<li>3. The expense of MBBS in Ukraine and accommodation is very low.</li>
	<li>4. No donation is required to be paid by the student for getting admission in a medical college in Ukraine.</li>
	<li>5. Many extracurricular activities and sports activities are held in the medcal colleges that keep the students fit and active.</li>
	<li>6. The students are encouraged to take part in various seminars and international conferences.</li>

</ol></br>
<p class="russia">
	The Ministry of Education and Science of Ukraine manages all the medical universities of Ukraine. These medical universities of Ukraine offer the best value for medical education for students from around the world in terms of quality, infrastructure and cost.
</p>
<div class="ui large header">Advantages of Studying MBBS in Ukraine</div>
<%= image_tag("mbbs in ukraine 2.jpg", style: 'float: right; width: 40%; height: 40%')%>
<p class="russia">
	Ukraine has become one of the most preferable destinations for the aspiring students who want to study MBBS in abroad. Some of the advantages are listed below:
</p></br>
<ol class="russia" type="I">
	<li>1. The medical universities of Ukraine are recognised by WHO, UNESCO, MCI and medical councils of many other counties.</li>
	<li>2. The medium of instruction in Ukraine is English which makes it much easier for international students to adapt to the environment.</li>
	<li>3. The cost of accommodation is very low as compared to other countries like USA, UK and many European countries. Apart from this, the travel for students in Ukraine is very cheap. Students get special discounts for travelling within the country.</li>
	<li>4. The medical colleges of Ukraine offer high quality facilities to the students.</li>
	<li>5. The students studying MBBS in the universities of Ukraine are provided with various opportunities to participate in the international exchange programs, conferences, and other scientific projects in various international universities which opens more doors for them to achieve their goals in the field of medicine.</li>
	<li>6. Indian students who complete their MBBS from a Medical University of Ukraine can easily get a job in India as the MBBS degree obtained from a Ukraine University is recognized by Medical Council of India (MCI).</li>

</ol>
<div class="ui large header">Admission Process</div>
<p class="russia">
	Getting admission in a medical university in Ukraine is very easy. The applicants are not required to take any exam like TOEFL or IELTS. For admission in MBBS in Ukraine, the student must fulfil the following criteria:
</p></br>
<ol class="russia">
	<li>1. The student must be above the age of 17 years on or before 31st December, of the year of admission to the MBBS course.</li>
	<li>2. The applicant must have passed the higher secondary examination or the Indian School Certificate Examination which is equivalent to 10 + 2, Higher Secondary Examination after a period of 12 years study, the last two year of study comprising of physics, chemistry, and biology.</li>
	<li>3. The student should have scored a minimum of 50% marks in the 12th standard examination.</li>
</ol>
<div class="ui large header">Top Universities for MBBS Study in Ukraine</div>
<ul class="russia">
	<li><i class="check square icon"></i>VN Karazin Kharkiv National University</li>
	<li><i class="check square icon"></i>Kharkiv National Medical University</li>
	<li><i class="check square icon"></i>OO Bogomolets Kiev National Medical University</li>
	<li><i class="check square icon"></i>Kiev Medical University</li>
	<li><i class="check square icon"></i>Dnepropetrovsk State Medical Academy </li>
	<li><i class="check square icon"></i>Zaporozhye State Medical University</li>
</ul>
</div>
 <%= render 'layouts/footer' %>