<div class="cd-content">
<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Phone</th>
      <th>Dob</th>
      <th>Email</th>
      <th>Passport</th>
      <th>Passport validity date</th>
      <th>Preferred country</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        
        <td><%= item.phone %></td>
        <td><%= item.dob %></td>
        <td><%= item.email %></td>
        <td><%= item.passport %></td>
        <td><%= item.passport_validity_date %></td>
        <td><%= item.preferred_country %></td>
        <td><%= item.message %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
</div>