<!DOCTYPE html>
</br>
</br>
<div class="ui grid">
	<div class="sixteen wide column">
		<%= image_tag("china mbbs.jpg")%>
	</div>
</div>
<div class="ui breadcrumb">
  <%= link_to "Home", index_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "Courses Overview", course_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "MBBS Abroad", medical_overview_path, class: "section" %>
  <i class="right arrow icon divider"></i>
  <div class="active section">MBBS in China</div>
</div>
<div class="ui segment">
<div class="ui sizer vertical segment">
	<div class="ui huge header">About China Medical </div>
	<p class="russia"><%= image_tag("8db231e2gy1fgryz67d6fj20hs0qoaf0-640x750.jpg", class: 'country-img', style: 'float: right; width: 22%; height: 22%;')%>
	For centuries China stood as a leading civilization, outpacing the rest of the world in the arts and sciences, but in the 19th and early 20th centuries, the country was beset by civil unrest, major famines, military defeats, and foreign occupation. After World War II, the communists under MAO Zedong established an autocratic socialist system that, while ensuring China's sovereignty, imposed strict controls over everyday life and cost the lives of tens of millions of people.</br>

After 1978, MAO's successor DENG Xiaoping and other leaders focused on market-oriented economic development and by 2000 output had quadrupled. For much of the population, living standards have improved dramatically and the room for personal choice has expanded, yet political controls remain tight. Since the early 1990s, China has increased its global outreach and participation in international organizations.</br>
Chinese history has been blessed with medicines and phenomenal healthcare treatments. Herbal medicines, food remedies, acupuncture, acupressure and traditional Chinese medical massage have now developed into a hybrid treatment after blending with modern-day medicine imported from the western world. China has turned out to be the main appeal for global students who're interested in pursuing an education in distinctive disciplines in China. Medical Science is also a specialised line of schooling that is in the excessive call for global aspirants as China proffers high teaching standards, thorough learning and eminent career opportunities after MBBS. Many Indian students seek admission for pursuing MBBS in China. The MBBS application process in China is convenient. However, right guidance at every step during admission is essential. Our skilled counsellors deliver free guidance and other assistance required to study MBBS in China.</p></div></div>
<div class="ui large header" style="margin-left: 107px">MBBS Admissions in China – An excellent career opportunity</div>
<div class="ui two column doubling stackable grid container">
  <div class="column">
      <a class="ui red ribbon label"></a>
    <p class="russia">MBBS in China for Indian students is a great choice considering the simple admission procedure and low costs involved. China is a prime choice among Indian students who are unable to clear entrance exams for medical courses in India. Instead of opting for private medical colleges which can be in fact very expensive, choosing Chinese medical colleges will be wise. That way, students will get exposure to a global environment of studying without spending their life savings. China is among the two most powerful and advanced nations of the world. Needless to say, education is given great importance here and fields like medicine get focus. Infrastructural development is noteworthy which is why students of medicine in China are able to avail the benefits of top practical classes.</p>

<p class="russia">The Chinese government keeps a high budget for medical research which means that the MBBS colleges of China and such universities also get a scope to keep their systems upgraded. The government also keeps a look on the standard of education being imparted thus ensuring a uniform one throughout. No wonder then that more than 10,000 Indian students visit China every year to study medicine. They can pursue their course in English as the medium of instruction remains English for all courses which permit international students. All teachers are used to dealing with international students and thus help them with their studies. MBBS in China involves a fast and smooth admission process without any donations or admission tests. All students need to do is apply and get VISA from the embassy. </p>

<p class="russia">Some of the leading medical colleges in China include Anhui Medical University, China Medical University, Dalian Medical University, Huazhong University of Science and Technology, Jilin University, Wenzhou Medical College, Xi'an Jiaotong University, Xinjiang Medical University, Zhejiang University, Beihua University, Hebei Medical University, Jiamusi University, Qingdao University, Sun Yat-sen University and Zhenzhou University. The average tuition fee in these MBBS colleges of China ranges between 25000 and 50000 per month. They are all equipped with modern facilities in their hostels to ensure complete comfort of international students. Besides providing good education and a comfortable students life, these colleges of China are also WHO approved and rank well in all other globally recognized lists of medical colleges. </p>

<p class="russia">Regular interaction with guests and well known specialists in the field of medicine make China a wonderful place to study in. Being the strongest economy of the world right now, its social and economical condition can also be banked upon. This in turn means that the country is likely to develop further assisting international students to find all kinds of aid and facilities at their disposal. MBBS in China is a good decision from all angles. Students must consider it as an option and an important one when looking at choices for studying MBBS abroad. Take a look at our site for further information on studying medicine in China. We provide complete assistance for all aspects of getting admission into international medical colleges.</p>
  </div>
  <div class="column">
    <table class="ui striped table">
  <thead>
    <tr><th>
UNIVERSITY</th>
    <th>WORLD RANKING</th>
    <th>TOTAL PACKAGE (For 5 Years) (INR)</th>
    <th>TOTAL PACKAGE IN USD</th>
    <th>RATING</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>
        China Medical University
      </td>
      <td class="single line">
        7012
      </td>
      
      <td class="single line">
       24,10,000 INR
       
      </td class="single line">
      <td>37078$</td>
      <td>
        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
      </td>
    </tr>
       <tr>
      <td>
        Jilin Medical University
      </td>
      <td class="single line">
        1000
      </td>
      
      <td class="single line">
       	17,75,000 INR
       
      </td class="single line">
      <td>27308$</td>
      <td>
        <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
      </td>
    </tr>
        <tr>
      <td>
        Qingdao University
      </td>
      <td class="single line">
        3041
      </td>
      
      <td class="single line">
       19,60,000 INR
       
      </td class="single line">
      <td>30154$</td>
      <td>
        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
      </td>
    </tr>
        <tr>
      <td>
        Xi'an Jiaotong University
      </td>
      <td class="single line">
        599
      </td>
      
      <td class="single line">
       24,25,000 INR
       
      </td class="single line">
      <td>37308$</td>
      <td>
        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
      </td>
    </tr>
        <tr>
      <td>
        Dalian Medical University
      </td>
      <td class="single line">
        4326
      </td>
      
      <td class="single line">
       24,25,000 INR
       
      </td class="single line">
      <td>37308$</td>
      <td>
        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
      </td>
    </tr>
        <tr>
      <td>
        Zhejiang University
      </td>
      <td class="single line">
        	247
      </td>
      
      <td class="single line">
       22,65,000 INR
       
      </td class="single line">
      <td>34847$</td>
      <td>
        <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
      </td>
    </tr>
        <tr>
      <td>
        Zhengzhou University
      </td>
      <td class="single line">
        1576
      </td>
      
      <td class="single line">
       	20,25,000 INR
       
      </td class="single line">
      <td>31154$</td>
      <td>
        <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Beihau University
      </td>
      <td class="single line">
        5309
      </td>
      
      <td class="single line">
       	16,75,000 INR
      </td class="single line">
      <td>25770$</td>
      <td>
        <div class="ui star rating" data-rating="2" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Wenzhou Medical University
      </td>
      <td class="single line">
        4432
      </td>
      
      <td class="single line">
       17,25,000 INR
       
      </td class="single line">
      <td>26539$</td>
      <td>
        <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Hebei University
      </td>
      <td class="single line">
        4374
      </td>
      
      <td class="single line">
       18,15,000 INR
       
      </td class="single line">
      <td>27924$</td>
      <td>
        <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Sun Yat sen University
      </td>
      <td class="single line">
        568
      </td>
      
      <td class="single line">
       30,10,000 INR
       
      </td class="single line">
      <td>46308$</td>
      <td>
        <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Jiamusi University
      </td>
      <td class="single line">
        7147
      </td>
      
      <td class="single line">
       	14,90,000 INR
       
      </td class="single line">
      <td>22924$</td>
      <td>
        <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Anhui Medical University
      </td>
      <td class="single line">
        3820
      </td>
      
      <td class="single line">
       17,25,000 INR
       
      </td class="single line">
      <td>26539$</td>
      <td>
        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Huazhong University of Science and Technology
      </td>
      <td class="single line">
        572
      </td>
      
      <td class="single line">
       26,90,000 INR
       
      </td class="single line">
      <td>41385$</td>
      <td>
        <div class="ui star rating" data-rating="5" data-max-rating="5"></div>
      </td>
    </tr>
     <tr>
      <td>
        Xinjiang Medical University
      </td>
      <td class="single line">
        5701
      </td>
      
      <td class="single line">
       	17,65,000 INR
       
      </td class="single line">
      <td>27154$</td>
      <td>
        <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui large header">Benefits of Studying MBBS in China</div>
<div class="ui basic segment">
<p class="russia">
	There are hundreds of benefits, which can be explored for Studying Medicine in China. Below given are some immediate reasons why you should opt for China.</br>
</p><%= image_tag("mbbs-admission-in-china.png", class: 'country-img', style: 'float: right; width: 35%; height: 35%;')%>
<ol class="russia">
	<li>1. Chinese Medical Science has become very advance in last 2 decades</li></br>
	<li>2. Government of China invests huge budget for medical research</li></br>
	<li>3. A number of high-tech medical universities are available</li></br>
	<li>4. Chinese Medical Market us growing a great pace globally</li></br>
	<li>5. Education standards are directly governed by government</li></br>
	<li>6. Chine is the fastest growing economy of the globe</li></br>
	<li>7. More than 10,000 students go China every year from India to study</li></br>
	<li>8. International Medical Programs are taught in English Language</li></br>
	<li>9. Easy and quick admission process without any hassles</li></br>
	<li>10. Fully equipped and modern classrooms</li></br>
	<li>11. High-tech labs and practical rooms for practice</li></br>
	<li>12. Standard of education is European but cost is much cheaper</li></br>
	<li>13. Chinese Medical Tourism Industry growing at a huge pace</li>

</ol></div>


	
	
	
	
	<h2 class="ui header">Transport</h2>
<div class="ui basic segment">
	The transport system in China is well developed in Urban, Semi Urban & Rural areas.Public buses, taxies, bicycles are the most common vehicles for you to take. In some modern and developed Chinese cities, subway, light rail and even Maglev trains can all be considered as good ways for you to get around the city. In China, almost all major cities are equipped with a developed bus transport system.
	</div>
	
	
	
	
	<h2 class="ui header">Culture</h2>
<div class="ui basic segment">
	Chinese culture has been heavily influenced by Confucianism and conservative philosophies. For much of the country's dynastic era, opportunities for social advancement could be provided by high performance in the prestigious imperial examinations, which have their origins in the Han Dynasty. The literary emphasis of the exams affected the general perception of cultural refinement in China, such as the belief that calligraphy, poetry and painting were higher forms of art than dancing or drama. Chinese culture has long emphasized a sense of deep history and a largely inward-looking national perspective. Examinations and a culture of merit remain greatly valued in China today.
	</div>
<div class="ui four column doubling stackable grid container">
  <div class="column">
<h3 class="ui header">Location</h3>
<div class="ui basic segment">
Eastern Asia, bordering the East China Sea, Korea Bay, Yellow Sea, and South China Sea, between North Korea and Vietnam.
	</div>
  </div>
  <div class="column">
<h3 class="ui header">Population</h3>
<div class="ui basic segment">
	China has the largest population in the world with around 1.37 billion people (as of 2014).
	</div>
  </div>
  <div class="column">
<h3 class="ui header">Area</h3>
<div class="ui basic segment">
	China is considered to be the 4th Largest Country in the world, with an area of 9,596,960 sq km.
	</div>
  </div>
  <div class="column">
<h3 class="ui header">Religion</h3>
<div class="ui basic segment">
	Officially atheist, Confucianism, Buddhism, Taoism, Islam (over 22 million), Catholicism (over 4 million) and Protestantism (over 10 million)
	</div>
  </div>
</div>
<div class="ui four column doubling stackable grid container">
  <div class="column">
    <h3 class="ui header">Climate</h3>
<div class="ui basic segment">
	Mainly continental monsoon climate. (Tibet: vertical climate zone)
	</div>
  </div>
  <div class="column">
    <h3 class="ui header">Time Zone</h3>
<div class="ui basic segment">
	Beijing is 2.30 hours ahead of New Delhi.
	</div>
  </div>
  <div class="column">
    <h3 class="ui header">Language</h3>
<div class="ui basic segment">
	Mandarin Chinese (Putonghua) based on Beijing dialect, plus local dialects.
	</div>
  </div>
  <div class="column">
   <h3 class="ui header">Form of Government</h3>
<div class="ui basic segment">
	Socialist one-party state.
	</div>
  </div>
</div>

 <%= render 'layouts/footer' %>
