<!DOCTYPE html>
</br>
</br>

<div class="ui grid">
  <div class="sixteen wide column">
  	<%= image_tag("slide7.jpg")%>
  </div>
</div>
<div class="ui breadcrumb">
  <%= link_to "Home", index_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "Courses Overview", course_path, class: "section" %>
  <i class="right arrow icon divider"></i>
  <div class="active section">MBBS Abroad</div>
</div>
<div class="background-med-view" style="padding-top: -8px">
<div class="transbox">
  <h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
 MBBS in Abroad for Indian Students - Explore
</h2>
<div class="ui equal width grid">
	<div class="row">
    	<div class="column">
    	  <div class="ui segment" style="background-color: #41d3f4"><strong><%= link_to "Advantages", id: "link1" %></strong></div>
    	  </div>
   	    <div class="column">
    	  <div class="ui segment" style="background-color: #f4417f"><strong><%= link_to "Eligibility", id: "link2" %></strong></div>
   		  </div>
   		<div class="column">
   		  <div class="ui segment" style="background-color: #41f494"><strong><%= link_to "Fee Estimates", id: "link3" %></strong></div>
   		  </div>
    </div>
    </div>
</div>
</div>
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  MBBS in Abroad- Advantages
</h4>
<p>You can excell in your career by pursuing MBBS in abroad. Some of the best advantages that will help in your decision making.</p>
<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Features
</h4>
  <div class="ui two column divided grid", id="link1">
  	<div class="stretched row">
    <div class="column">
    	<div class="ui segment">
      <table class="ui table">
	<tbody><tr></tr>
		<tr>
			<td><i class="icon checkmark"></i> Education standard is EXCELLENT.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> MCI and WHO recognised.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> English medium education.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> International exposure.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> Low fees – 75% lower than fees in Private Colleges in India.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> Easily accessible from India with daily flights to and from each country.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> Availability of Indian food.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> Education gateway to developed countries like USA and UK.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i> Better than studying in Indian private MBBS colleges.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Respected and worldwide accepted degrees.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Technologically advanced.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Full infrastructure. </td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Part time job opportunities.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Further study and specialization options.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Practical based learning.</td>
		</tr>
		<tr>
			<td><i class="icon checkmark"></i>Research opportunities.</td>
		</tr>
		</tbody>
</table>
</div>
    </div>
    <div class="column">

    	<div class="ui segment">
    		<h3>Cost of medical degree in India: Statistics </h3>

      <%= image_tag("infographic1.png")%>
    </div>
</div>
  </div>
</div>
 <div class="ui horizontal divider"></div>
 <div class="ui stacked segment">
<div class="ui one column grid">
  <div class="column">
    <div class="ui raised segment">
      <a class="ui blue ribbon label"></a>
<p class="style1"> It is the dream of lakhs of students to become a doctor one day. Especially in India, where the number of MBBS aspirants is huge but there are very less number of seats. There is a big scarcity of doctors in our country. Everyone knows that the potential to earn is huge after doing MBBS in Abroad or from India. Therefore more and more candidates appear for various MBBS entrance exams each year, while some of them try 3-4 years but still do not get admission where they want. There is only 1 government doctor per 11,528 people in India. Why do we have such a bad doctor-patient ratio? The problem is the large demand for MBBS seats in India but very low supply.</p>
<p class="style1">
The number of government seats in India for MBBS is just 25,085 (in 2016). The number of students who appear for medical entrance exams is more than 7 lakh. This means only about 3.5% students get admission for MBBS in government colleges in India. According to a recent article by The Times of India, 99.4% of all candidates fail NEET every year. Against this, about 20% students who study MBBS from outside of India and appear for the screening test become a doctor every year. While there are about 38,000 private seats in India, they are marred by poor quality education, missing/ghost or no faculty, and huge donations.</p>
<p class="style1">

It is not a secret that most private colleges demand more than ₹40 Lakh for just providing admission through management quota. Not everyone can afford such high charges. Added to this is the tuition fee which ranges between ₹8-12 Lakh per year. This means that college fees alone would cost you about ₹40-60 lakh rupees. Add your accommodation, food, books, travelling, other expenses and you will find yourself burning a hole in your pocket with total expense above ₹1 crore in 5 years for MBBS from a private college in India.</p>
<p class="style1">
There is no guarantee that good hospitals will provide you a job offer. Most times it does not happen. The best way to go about your MBBS studies and to pursue your dream of becoming a doctor is by doing MBBS in abroad.</p>
<p class="style1">
You might think whether studying MBBS from outside of India is the right choice?</p>
</br>
<blockquote class="style1">The answer is YES!
</blockquote> </br>
<p style="color: #6bc46e; font-weight: bold;">If you are really passionate about becoming a doctor and you are willing to work hard for it, then studying MBBS in abroad would be the best decision you ever make in your life.</p>
		
</div>
</div>
</div>
</div>
<table class="ui unstackable table">
  <thead>
    <tr>
      <th>Country</th>
      <th>Minimum Package (Including College Fees+Accommodation+Food)</th>
      <th class="right aligned">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Russia</td>
      <td>₹23 Lakh</td>
      <td class="right aligned">Eurpoe</td>
    </tr>
    <tr>
      <td>China</td>
      <td>₹25 Lakh</td>
      <td class="right aligned">Asia</td>
    </tr>
    <tr>
      <td>Bangladesh</td>
      <td>₹30 Lakh</td>
      <td class="right aligned">South East Asia</td>
    </tr>
     <tr>
      <td>Kyrgyzstan</td>
      <td>₹16 Lakh</td>
      <td class="right aligned">Asia</td>
    </tr>
     <tr>
      <td>Ukraine</td>
      <td>₹24 Lakh</td>
      <td class="right aligned">Europe</td>
    </tr>
     <tr>
      <td>Philippines</td>
      <td>₹22 Lakh</td>
      <td class="right aligned">South Eastern Asia</td>
    </tr>
  </tbody>
</table>
<div class="ui grid">
  <div class="stretched row">
    <div class="column">
      <div class="ui segment">
       <h2> MBBS Admission in Abroad With Less Fees </h2></br>
  <p class="style1"> Many people have the misconception that studying medical from abroad is very costly. The truth is that your total expense or investment as it should be said for completing your medical degree from abroad is less than the donation alone which is asked by many private colleges in India.</br>
   Cost of Completing MBBS from outside of India < Amount of capitation fee paid in India.
</br>
You can complete your studies in abroad in less than₹18 lakh even and under ₹25 lakh in most colleges. This would include your college tuition fees, accommodation and food expenses, visa charges. You might question the quality of education of these MBBS colleges or universities in abroad. You should know that most of these colleges are the top ranked MBBS universities of their respective countries. The quality of education will be at par to that of AIIMS. This means it is better to study MBBS in abroad.
</p>
      </div>  <div class="background-med1-view" style="padding-top: -8px">
<div class="transbox">
  <h2 class="ui center aligned icon header" style="color: #efefef">
  	Top Countries for MBBS  </br><button class="ui primary button">
  Apply
</button>
    </h2>
    
</div>
</div>  </div> 
    </div>

    </div>
   <p class="style2"></br>Choosing the right course, country and university can be an extremely daunting prospect for any international student looking to study abroad. Here at Admission Time our experts are here to help you out every step of the way. Select from the list of countries below to discover more about the various courses and study options on offer.</p>
</br>
<div class="ui four column doubling stackable grid container">
    <div class="olive column">
      <h2 style="color: white">Russia</h2>
       Russia or, also officially known as the Russian Federation, is a country in northern Eurasia. It is a federal semi-presidential republic, comprising 83 federal subjects. The capital City of Russia is MOSCOW. </br></br>
      <%= image_tag("houses-parliament.jpg")%></br></br>
      <button class="ui toggle button" style="position: center"><%= link_to "Read More", russia_path%></button>
    </div>
    <div class="pink column">
    	<h2 style="color: white">Ukraine</h2>
    	Ukraine was known as “Kievan Rus” (from which Russia is a derivative) up until the 16th century. In the 9th century, Kiev was the major political and cultural center in Eastern Europe. Ukraine has great options for MBBS.</br></br>
      <%= image_tag("ukraine1.jpg")%></br></br>
      <button class="ui toggle button" style="position: center"><%= link_to "Read More", ukraine_path%></button>
    </div>
    <div class="olive column">
      <h2 style="color: white">Kyrgyzstan</h2>
      Kyrgyz Republic or Kyrgyzstan is located in Central Asia and is one of the six independent Turkic states. This landlocked republic is bordered by Kazakhstan to the north. Pursuing MBBS here is very cost effective.</br></br>
      <%= image_tag("kyrgyzstan-(1).jpg")%></br></br>
      <button class="ui toggle button" style="position: center">Read More</button>
    </div>
    <div class="pink column">
    	<h2 style="color: white">China</h2>
    	China, a communist nation in East Asia, is the world’s most populous country. Its vast landscape encompasses grassland, desert, mountain ranges, lakes, rivers and 14,500km of coastline. MBBS course structure is highly dynamic.</br></br>
      <%= image_tag("china3.jpg")%></br></br>
      <button class="ui toggle button" style="position: center"><%= link_to "Read More", china_path%></button>
    </div>
</div>
<h4 class="ui horizontal divider header"></h4>
<div class="ui four column doubling stackable grid container">
    <div class="olive column">
      <h2 style="color: white">Bangladesh</h2>
       Direct MBBS Admission without Donation with Low Package MCI Approved Colleges. Total Package 21-28 Lac in complete 5 years. Same syllabus same books same curriculum same study pattern like India. Bangladesh is emerging as top destination for MBBS aspirants in recent years.</br></br>
      <%= image_tag("bang.png")%></br></br>
      <button class="ui toggle button" style="position: center"><%= link_to "Read More", bangladesh_path%></button>
    </div>
    <div class="pink column">
    	<h2 style="color: white">Philippines</h2>
    	The Philippines is the 3rd largest English-speaking nation in the world. The country provides ample of knowledge resources, updated curriculum with its 93.9% literacy rate, far better than India. Universities and other institutions here are ISO-certified and identified as excellence centers.</br></br>
      <%= image_tag("201208-w-worlds-beautiful-college-campuses-bologna.jpg")%></br></br>
      <button class="ui toggle button" style="position: center">Read More</button>
    </div>
    <div class="olive column">
      <h2 style="color: white">Nepal</h2>
      MBBS in Nepal is the best opportunity for the Indian students. Since long time students are studying medicine in Nepal, mostly majority of students is more from the Northern part of the country. Nepal medical colleges has most of the faculty from India.</br></br>
      <%= image_tag("de91f9a30ed55ae3a48e45c1824c93c4--dharamsala-mother-india.jpg")%></br></br>
      <button class="ui toggle button" style="position: center">Read More</button>
    </div>
    <div class="pink column">
    	<h2 style="color: white">Malaysia</h2>
    	Medical Universities in Malaysia generally offer a five-year undergraduate program for future doctors. It is compulsory for students who have graduated from medical school to work in the Government Hospital under housemanship program for a duration of three years. </br></br>
      <%= image_tag("IMG-Petronas-Towers-95.jpg")%></br></br>
      <button class="ui toggle button" style="position: center">Read More</button>
    </div>
</div>
</br>
   <!-- accordian
<div class="ui accordion">

  <div class="active title">
    <i class="dropdown icon"></i>
    Russia
  </div>
  <div class="active content">
    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What kinds of dogs are there?
  </div>
  <div class="content">
    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do you acquire a dog?
  </div>
  <div class="content">
    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
  </div>
</div>-->
 <%= render 'layouts/footer' %>