<!DOCTYPE html>
</br>
</br>
</br>
<div class="ui grid">
	<div class="sixteen wide column">
		<%= image_tag("saarc.jpg")%>
	</div>
</div>

<div class="ui breadcrumb">
  <%= link_to "Home", index_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "Courses Overview", course_path, class: "section" %>
  <i class="right chevron icon divider"></i>
  <%= link_to "MBBS Abroad", medical_overview_path, class: "section" %>
  <i class="right arrow icon divider"></i>
  <div class="active section">MBBS in Bangladesh</div>
</div>

<div class="ui huge header">Direct MBBS Admission 2018 in MCI Approved Medical Colleges in Bangladesh </div>
<div class="ui vertical segment">
	<div class="ui large header">Direct MBBS Admission 2018 in MCI Approved Medical Colleges in Bangladesh </div>
	<div class="ui medium header">Eligibility: </div>
	<%= image_tag("banner-bangladesh.jpg", class: 'country-img', style: 'float: right; width: 30%; height: 30%;')%>
  <ol class="russia">
  	<li>1- Must have passed qualifying examinations (HSC/ ‘A’ level) or equivalent examination.</li></br>
  	<li>2- SSC/ ‘O’ or equivalent examination passed not before 2015</li></br>
  	<li>3- HSC/ ‘A’ or equivalent examination passed not before 2017</li></br>
  	<li>4- Minimum aggregate GPA in SSC or equivalent and HSC or equivalent: 8.00 (eight)</li></br>
  	<li>5- Minimum GPA either in SSC or equivalent or in HSC or equivalent: 3.5</li></br>
  	<li>6- Minimum GP in biology: 3.5</li></br>
  </ol>
  <h3> Calulating Score</h3>
  <ol class="russia">
  	<li>I- For calculation of GPA against the marks obtained in SSC/ ‘O’ level or equivalent exam, only top 5 subjects are considered for calculation of GPA. Therefore, GPA in ‘O’ level = (total marks obtained in top five subjects) ÷ 5</li></br>
  	<li>II- For calculation of GPA against the marks obtained in HSC/ ‘A’ level or equivalent exam, only 3 subjects (Physics, Chemistry and Biology) are considered for calculation of GPA.</li></br>
  	<li>III- Qualifying Grade in each subject individually is “C”. Therefore, GPA in ‘A’ level = (total marks obtained in three subjects) ÷ 3</li>

  </ol>
</div>
<div class="ui vertical segment">
  <div class="ui large header">Direct MBBS Admission 2018 in MCI Approved Medical Colleges in Bangladesh </div>
  <p class="russia">
  	Duly filled in application forms in triplicate along with following documents:
  </p>
  <ol class="russia">
  	<li>A- Copy of passport.</li>
  	<li>B- 6 passport size photographs are to reach the Ministry of Foreign Affairs, Dhaka by  October 2018.</li>
  	<li>C- All certificates must be duly attested by the competent authority, i. e. the Education Ministry of the respective country and also be authenticated by the respective Bangladesh Missions abroad/Foreign Missions based in Dhaka.</li>
  	<li>D- Successful applicants will require producing all academic certificates and mark-sheets/ transcripts in original during their admission.</li></ol>
<div class="ui large header"> Tuition Fees for foreign student to study medical in Bangladesh:</div>
 <p class="russia">
 	For Government medical and dental colleges, students from SAARC countries will require paying tuition and other fees at the rate charged to a Bangladeshi student.
 </p>
  
  <div class="ui large header">MBBS Fees in Bangladesh</div>
<p class="russia"> Foreign Students (Indian Students) have to pay $7000 – $ 8000  per academic year in addition to the tuition fees charged to a Bangladeshi student. In 5 years MBBS colleges fees (total package for five years)  cost around from US $ 32000- US $45000.</br></br>

MBBS Fees entirely depend on the rank on Medical Colleges and Location of Medical Institutes.</br></br>

For Indian students it comes around  Indian Rupees 20-29 Lakhs Only.</p>
</div>
<div class="ui vertical segment">
  <p class="russia">
  	<strong>Complete 5 Years Package which is affordable for Middle Class Family.</strong></br>
  	All payments directly to Medical Colleges, Smile Education not handle any tuition fees or payments during admission.</br></br>

<strong>MCI Approved Colleges</strong> under Bangladesh Private Medical College Association See List of Colleges below.</br></br>

Fees for <strong>Non MCI Approved</strong> Medical college in Bangladesh Tution fees US $3500 per year Total US $25,500 Nearly Rs. 19 Lac only in 5 Years.</br></br>

Information regarding tuition fees for private medical and dental colleges can be obtained directly from the college concerned or College representative Office.
  </p>
</div>
<table class="ui striped table">
  <thead>
    <tr>
      <th>SL.NO.</th>
      <th>NAME OF THE MEDICAL COLLEGE</th>
      <th>TUITION FEE (FULL 5 YR COURSE)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>	Khwaja Yunus Ali Medical College</td>
      <td>	US$ 41000 (Including Hostel)</td>
    </tr>
    <tr>
      <td>2</td>
      <td>	Dhaka National Medical College</td>
      <td>US$ 45,000</td>
     
    </tr>
    <tr>
      <td>3</td>
      <td>	Southern Medical College</td>
      <td>	US$ 33,500 (Including Hostel)</td>
   
    </tr>
    <tr>
      <td>4</td>
      <td>Monno Medical College</td>
      <td>	US$ 34,500</td>
   
    </tr>
    <tr>
      <td>5</td>
      <td>	Barind Medical College</td>
      <td>	 US$ 36,000 (Including Hostel)</td>
     
    </tr>
    <tr>
      <td>6</td>
      <td>	BGC Trust Medical College</td>
      <td>	US$ 32000 (Including Hostel)</td>
    
    </tr>
    <tr>
      <td>7</td>
      <td>Ennam Medical College</td>
      <td>	US$ 40,000 (Including Hostel)</td>
     
    </tr>
    <tr>
      <td>8</td>
      <td>Arm Force Medical College Bangladesh</td>
      <td>	 US$ 43,300 (Including Hostel + Food)</td>
      
    </tr>
     <tr>
      <td>9</td>
      <td>	Bangladesh Medical College</td>
      <td>US$ 43,000 No Hostel</td>
     
    </tr>
     <tr>
      <td>10</td>
      <td>	Uttara Adhunik Medical College</td>
      <td>	US$ 41,000 (NO HOSTEL)</td>
     
    </tr>
     <tr>
      <td>11</td>
      <td>	Tairunnessa Memorial Medical College and Hospital</td>
      <td>	US $ 39,500.00</td>
    
    </tr>
     <tr>
      <td>12</td>
      <td>	Jalalabad Ragib-Rabeya Medical College</td>
      <td>	 US$ 39950  (Including Hostel)</td>
    </tr>
  </tbody>
</table>

<div class="ui large header">Advantages of studying MBBS in Bangladesh</div>
<ol>
	<li>1. MCI Approved medical study outside India. Under MCI Act 1956 Click Here
		<%= link_to "Click Here", "https://mciindia.org/ActivitiWebClient/actnamendments/theSecondScheduleofIMCAct", target: "_blank" %></li></br>
	<li>2. MBBS in Bangladesh best alternative Low cost Medical Study Outside India.</li></br>
	<li>3. Recognition By – Bangladesh Medical &amp Dental Council &amp Member of South East Asia Regional Organisation For Medical Council Enlisted in the Directory of IMED and AVECENA (Formerly W.H.O).</li></br>
	<li>4. Student can register to Medical Council of India by giving Screening Test to practice in India after completion of MBBS Degree in Bangladesh.</li></br>
	<li>5. Least Financial cost to complete MBBS Course in Private medical college and free seats under SAARC Quota in Government Medical College.</li></br>
	<li>6. Adequate patient flow for clinical studies And practice Maintaining Global Medical Education Standard.</li></br>
	<li>7. Socio-Cultural same as India, Environment and climate are almost same.</li></br>
	<li>8. Very close to Home Country.</li></br>
	<li>9. Security and Safety of Individual is ensured in the Campus.</li></br>
	<li>10. Affordable Medical Study at Low Package for Middle Class Family Best Option for MBBS BDS, MD/MS Study outside India.</li>

</ol>
   <%= render 'layouts/footer' %>
   </div>